{% extends 'base.html.twig' %}

{% block body %}
	<div class="text-center vertical-center centered-container-wrapper">
        <div class="centered-container">
			<div class="form-wrapper">
				<div class="errors">
					{{ form_errors(form) }}
				</div>
				<h3 class="signup-header">Sign Up</h3>
				{{ form_start(form, { 'attr': { 'class': 'form-signup'}}) }}
					<div class="form-row">
						<div class="form-group col-md-6">
							{{ form_row(form.username) }}
						</div>
						<div class="form-group col-md-6">
							{{ form_row(form.email) }}
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							{{ form_row(form.plainPassword.first) }}
						</div>
						<div class="form-group col-md-6">
							{{ form_row(form.plainPassword.second) }}
						</div>
					</div>
					<div class="form-group">
						{{ form_widget(form.captchaCode, { 'attr': { 'class': 'captcha'}}) }}
					</div>

					<button class="btn btn-md btn-primary btn-signup" type="submit">
						Create an account
					</button>
				{{ form_end(form)}}
			</div>
			<p style="padding-top: 1rem;">
				<small>
					By signing up you agree to our <a href="{{ path('terms_and_conditions') }}">Terms of Service</a>
				</small>
			</p>
		</div>
	</div>
{% endblock %}
