<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('index') }}">
        <img src="{{ asset('/assets/images/forum.jpg') }}" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-menu-link" href="{{ path('about') }}">About<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item user-icon">
                    <div class="dropleft">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('profile_overview') }}">My Profile</a>
                            <a class="dropdown-item" href="{{ path('logout') }}">Log Out</a>
                        </div>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn nav-btn nav-btn-login" href="{{ path('login') }}">Login</a>
                <li class="nav-item">
                    <a class="nav-link btn btn-success nav-btn" href="{{ path('signup') }}">Sign Up</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
