{{ form_start(form) }}
    {{ form_row(form.body, {'attr': {'rows': '10'}}) }}

    <div class="text-center">
        {{ form_widget(form.save, {'attr': {'class': 'btn-outline-primary'}}) }}

        {% set hidden = app.request.get('_route') == 'post_update' ? 'hidden' : '' %}

        {{ form_widget(form.save_draft, {'attr': {'class': 'btn-outline-primary %s'|format(hidden) }}) }}

        <a class="btn btn-outline-primary" href="{{ path('thread_read', {'categorySlug': thread.category.slug, 'slug': thread.slug}) }}">
            Cancel
        </a>
    </div>

{{ form_end(form)}}
